body {
  height: 97%;
  margin: 10px;
  width: 100%;
  position: absolute;
  background-color: #000000;
  font-family: helvetica;
}

.map-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 10px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  z-index:100;
}

.layer1-picker {
  position: relative;
  left: 50px;
  z-index: 200;
  padding:0px;
  background-color:#f1f442;
  top: 10px;
  height: 5%;
  bottom: 10px;
  font-size: 16px;
}

.legend {
  top:80px;
  left:10px;
  position: absolute;
  z-index: 6000;
  width:150px;
}

.sidewindow {
  padding: 3px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 5000;
  width: 190px;
}

.textbox {
    cursor: default;
    font-size: 14px;
    width: 100%;
    font-family: helvetica;
    color: yellow;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    
}

.sidebar-feature-content {
  background: #f1f442;
  float: right;
  right: 10px;
  height: 150px;
  padding: 10px;
  width: 190px;
  z-index: 100;
  bottom: 10px;
  font-family: helvetica;
  color: black;
  font-size: 12px;
}

.sidebar-footer {
  font-family: helvetica;
  font-size: 12px;
  float: right;
  z-index: 8000;
  color: black;
  bottom: 10px;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


.sidebar-streetview { 
  max-width: 100%;
  z-index: 5000;
  position: absolute;
  bottom: 10px;
  height: 40%;
  right: 10px;
}


/* Your styles go here */