body {
  height: 100%;
  margin: 10px;
  width: 100%;
  position: absolute;
  background-color: #000000;
  font-family: helvetica;
}

.map-wrapper {
  position: relative;
  height: 100%;
  width: 85%;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.layer1-picker {
  position: absolute;
  right: 100px;
  top: 15px;
  z-index: 20000;
  padding:10px;
  background-color:#f1f442;
}

.sidewindow {
  background-color: black;
  height: 100%;
  padding: 10px;
  position: absolute;
  right: 10px;
  top: 0px;
  z-index: 5000;
  width: 250px
}

.textbox {
    cursor: default;
    font-size: 14px;
    width: 250px;
    font-family: helvetica;
    color: white;
}

.sidebar-feature-content {
  background: black;
  float: right;
  height: 200px;
  padding: 10px;
  width: 225px;
  z-index: 10000;
  font-family: helvetica;
  color: white;
}

.sidebar-footer {
  margin-top: 75px;
  font-family: helvetica;
  font-size: 12px;
  float: right;
}
/* Your styles go here */